/*
(CC) 2012, Jony (www.niceue.com), MIT Licensed
*/
/* Layout */

/*
 * 清除浮动
 */
.cf {*zoom:1}
.cf:after {display:block;content:'\20';height:0;clear:both}


/*
 * 兼容的inline-block
 * 1. 针对IE6/7的定义
 */
.inline-block {
    display:inline-block;
    *display:inline; *zoom:1;  /*1*/
}


/*
 * 隐藏（主要应用于用js动态隐藏元素）
 */
.hide {display:none !important}


/*
 * 友好的隐藏（隐藏元素但是屏幕阅读器可见）
 * 1. 针对IE6/7的定义
 */
.clip-hide {
    position:absolute !important;
    clip:rect(1px,1px,1px,1px);
    *clip:rect(1px 1px 1px 1px);  /*1*/
}


/*
 * 不可见（包括屏幕阅读器）
 */
.invisible {visibility:hidden}


/*
 * 浮动（解决了IE6下双倍边距隐患）
 */
.fl {float:left;_display:inline}
.fr {float:right;_display:inline}



/* Alignment */
.tal {text-align:left}
.tar {text-align:right}
.tac {text-align:center}
.vat {vertical-align:top}
.vam {vertical-align:middle}

/* Font */
.fw4  {font-weight:400}
.fw7  {font-weight:700}
.fs12 {font-size:12px}
.fs14 {font-size:14px}
.fs18 {font-size:18px}

/* Color */
.red,.red a {color:#f00}
.green,.green a {color:#090}
.yellow,.yellow a {color:#f90}
.blue,.blue a {color:#06f}
.white,.white a {color:#fff}
.gray,.gray a {color:#999}
.black,.black a {color:#000}